In [1]:
import pymongo

new_client = pymongo.MongoClient('mongodb://localhost:27017/')

new_db = new_client['new_data']

new_col = new_db['students']

list_of_students = [
    { "name": "student00", "code": "code00" },
    { "name": "student01", "code": "code01" },
    { "name": "student02", "code": "code02" },
    { "name": "student03", "code": "code03" },
    { "name": "student04", "code": "code04" },
    { "name": "student05", "code": "code05" }
]

adding_many = new_col.insert_many(list_of_students)

print(adding_many.inserted_ids)

[ObjectId('6177cdf9b9472198b3e8cefc'), ObjectId('6177cdf9b9472198b3e8cefd'), ObjectId('6177cdf9b9472198b3e8cefe'), ObjectId('6177cdf9b9472198b3e8ceff'), ObjectId('6177cdf9b9472198b3e8cf00'), ObjectId('6177cdf9b9472198b3e8cf01')]

In [2]:
import pymongo

new_client = pymongo.MongoClient('mongodb://localhost:27017/')

new_db = new_client['new_data']

new_col = new_db['new_students']

list_of_students = [
    { "_id": 1, "name": "student00", "code": "code00" },
    { "_id": 2, "name": "student01", "code": "code01" },
    { "_id": 3, "name": "student02", "code": "code02" },
    { "_id": 4, "name": "student03", "code": "code03" },
    { "_id": 5, "name": "student04", "code": "code04" },
    { "_id": 6, "name": "student05", "code": "code05" }
]

adding_many = new_col.insert_many(list_of_students)

print(adding_many.inserted_ids)

[1, 2, 3, 4, 5, 6]

In [3]:
finding = new_col.find_one()
print(finding)

{'_id': 1, 'name': 'student00', 'code': 'code00'}

In [4]:
for docu in new_col.find():
    print(docu)

{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [8]:
import pymongo

new_client = pymongo.MongoClient('mongodb://localhost:27017/')

new_db = new_client['new_data']

new_col = new_db['new_students']

new_query = { "code": {"$gt": "code"} }

new_doc = new_col.find(new_query)

for x in new_doc:
  print(x)

{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [10]:
new_query = new_col.find().sort("name", -1)

for n in new_query:
    print(n)

{'_id': 6, 'name': 'student05', 'code': 'code05'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}

In [11]:
new_query = {"code": "code01"}

new_col.delete_one(new_query)

for x in new_col.find():
    print(x)

{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [13]:
new_q = {"code": {"$regex": "^code03"}}

x = new_col.delete_many(new_q)

print(x.deleted_count, "documents deleted from the collection!")

1 documents deleted from the collection!

In [14]:
remove_all = new_col.delete_many({})

print(remove_all.deleted_count, "documents deleted from the collection")

4 documents deleted from the collection

In [15]:
new_col.drop()

In [16]:
import pymongo

new_client = pymongo.MongoClient('mongodb://localhost:27017/')

new_db = new_client['new_data']

new_col = new_db['new_students']

list_of_students = [
    { "_id": 1, "name": "student00", "code": "code00" },
    { "_id": 2, "name": "student01", "code": "code01" },
    { "_id": 3, "name": "student02", "code": "code02" },
    { "_id": 4, "name": "student03", "code": "code03" },
    { "_id": 5, "name": "student04", "code": "code04" },
    { "_id": 6, "name": "student05", "code": "code05" }
]

adding_many = new_col.insert_many(list_of_students)

In [18]:
new_q = { "code": "code00" }
new_vals = { "$set": {"code": "codeZero"} }

new_col.update_one(new_q, new_vals)

for x in new_col.find():
    print(x)

{'_id': 1, 'name': 'student00', 'code': 'codeZero'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

In [19]:
result_filter = new_col.find().limit(3)

for x in result_filter:
    print(x)

{'_id': 1, 'name': 'student00', 'code': 'codeZero'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}